.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-decoration: none;
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

[data-theme='dark'] .cardContainer {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.4);
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cardDescription {
  margin-bottom: 0;
  color: var(--ifm-color-emphasis-600);
}
